# --- INFISICAL MACHINE IDENTITIES ---
INFISICAL_DISABLE_UPDATE_CHECK=true
INFISICAL_API_URL= #optional (default eu.infisical.app)

INFISICAL_PROJECT_ID=

# Machine Identities created in Infisical UI (Universal Auth)
INFISICAL_CLIENT_ID_API=
INFISICAL_CLIENT_SECRET_API=

INFISICAL_CLIENT_ID_WEB=
INFISICAL_CLIENT_SECRET_WEB=
