# --- INFISICAL MACHINE IDENTITIES ---
INFISICAL_DISABLE_UPDATE_CHECK=true
INFISICAL_API_URL= #optional

INFISICAL_PROJECT_ID=

# Machine Identities created in Infisical UI (Universal Auth)
INFISICAL_UNIVERSAL_AUTH_CLIENT_ID_API=
INFISICAL_UNIVERSAL_AUTH_CLIENT_SECRET_API=

INFISICAL_UNIVERSAL_AUTH_CLIENT_ID_WEB=
INFISICAL_UNIVERSAL_AUTH_CLIENT_SECRET_WEB=
