# Dependencies
node_modules
dist
build
.next
.turbo

# Coverage
coverage

# Cache
.cache

# Nextjs
next-env.d.ts

# Generated
**/generated/**

# pnpm
pnpm-lock.yaml

# Infrastructure
infra
acme.json

# Media & Uploads
uploads

# Documentation
docs

# Agentic Tools
.agents
.antigravitycli
.gemini
.geminiignore

# Secrets
.env
.env.*
.infisical.json
*.pem
*.key
*.cert
*.crt
*.pub
